.leaflet-pane {
  z-index: 1;
}

.pinButton {
  color: black;
}

.panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  background-color: #fff;
}




.axis {
   font-family: Roboto, 
}

.axis path,
.axis line {
  fill: none;
  stroke: "#16132E";
  shape-rendering: crispEdges;
  stroke-width: 1px;
  opacity: 1;
}

.tick line {
  opacity: 0.2;
}

div.tooltip {	
    position: absolute;		
    z-index: 3;
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 5px;	
    font: 12px Roboto;		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#drop_zone {
  border: 3px solid rgba(22, 19, 46, 0.9);
  border-radius: 2px;
  width:  auto;
  height: 50%;
  text-align: center;
  padding: 30px
}

input[type='file'] {
  display: none;
}

.uploadDiv {
 width: 100%;
  height: 100%;
  background-color: aqua;
  opacity: 0.3;
}